<!-- FUNCIONA SÓ PARA HIBERNATE ORM 5.x -->
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
        version="2.0">
	<!-- Unidade de persistencia para um dado Banco de Dados.
	     Poderíamos ter várias unidades -->
	<persistence-unit name="nome_da_unidade">
		<!-- Implementação do JPA - Hibernate -->
		<provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>
		
		<!-- Todas as entidades -->
		<class>br.edu.ifsp.regesc.models.Student</class>
		
		<!-- Propriedades JDBC -->
		<properties>
			<property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
			<property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/regesc"/>
			<property name="javax.persistence.jdbc.user" value="root"/>
			<property name="javax.persistence.jdbc.password" value=""/>
			
			<!-- Configurações específicas do Hibernate -->
			<!-- Dialeto do SGBD para a geração do SQL específico/adequado -->
			<property name="hibernate.dialect" value="org.hibernate.dialect.MySQL5InnoDBDialect"/>
			<!-- Causa criação/alteração automática de uma Tabela no Banco de Dados
			     para cada Entidade/Modelo mapeado pelo Hibernate -->
			<property name="hibernate.hbm2ddl.auto" value="update"/>
			<!-- Mostra as SQLs geradas pelo framework -->
			<property name="hibernate.show_sql" value="true"/>
			<property name="hibernate.format_sql" value="true"/>
		</properties>
	</persistence-unit>
</persistence>